@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// MEDIA QUERY
/*
0 - 600px:			 Phone
601px - 900px: 	 Tablet Portrait
901px - 1200px:	 Tablet Lanscape
1200px - 1800px: Our styles
1800px + :			 Big desktop
*/

@mixin respond-phone {
	@media (max-width: 600px) {
		@content;
	}
}

/* $breakpoint ARGIMENT CHOICES:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/

// ORDER: Base + typography > general layout + grid > page layout > components

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) {
			// 600px
			@content;
		}
	}

	@if $breakpoint == tab-port {
		@media (max-width: 56.25em) {
			// 900px
			@content;
		}
	}

	@if $breakpoint == tab-land {
		@media (max-width: 75em) {
			// 1200px
			@content;
		}
	}

	@if $breakpoint == big-desktop {
		@media (min-width: 112.5em) {
			// 1800px
			@content;
		}
	}
}
