// Palette URL: http://paletton.com/#uid=63L0u0kllllaFw0g0qFqFg0w0aF */
$color-primary-1: #2e4272; // Main Primary color */
$color-primary-light: #4f628e;
$color-primary-dark: #162955;

$color-secondary-1: #403075; // Main Secondary color (1) */
$color-secondary-light: #615192;
$color-secondary-dark: #261758;

$color-tertiary-1: #DEC700; // Main Complement color */
$color-tertiary-light: #FDE727;
$color-tertiary-dark: #B4A200;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ccc;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white-1: #fff;
$color-black-1: #000;

$color-twitter: #1DA1F2;
$color-linkedin: #0077B5;
$color-github: #333;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// $color-secondary-2-0: #226666; // Main Secondary color (2) */
// $color-secondary-2-1: #669999;
// $color-secondary-2-2: #407f7f;
// $color-secondary-2-3: #0d4d4d;
// $color-secondary-2-4: #003333;
