.timeline {
	// background-color: orange;
	margin: 0 auto;
	position: relative;

	&::before {
		/* this is the vertical line */
		content: "";
		position: absolute;
		top: 3.5rem;
		left: calc(50% - 0.25rem);
		height: 121.1%;
		width: 0.5rem;
		background: darken($color-grey-light-2, 5%);
		margin: 0 auto;
		z-index: -1;
	}

	&__event {
		z-index: 1;

		&--picture {
			margin: 0 auto;
			display: block;
			background-color: $color-white-1;
			height: 7rem;
			width: 7rem;
			border-radius: 50%;
			background-size: cover;
			border: 0.5rem solid $color-grey-light-2;
			object-fit: contain;

			&:hover {
				transform: scale(1.2);
				color: $color-grey-light-2;
				transition: transform 0.8s cubic-bezier(0.66, -2, 0.43, 5);
				box-shadow: 0.5rem 1rem 2rem rgba($color-black-1, 0.2);
			}

			&:hover + .timeline__event--text {
				transform: translateX(-140%);
				color: $color-grey-light-2;
				transition: all 1s;
			}

			&:hover ~ .timeline__event--time-date {
				transform: scale(1.2);
				text-shadow: 0.5rem 1rem 2rem rgba($color-black-1, 0.2);
				transition: all 0.2s;
			}
		}

		&--text {
			position: absolute;
			display: inline-block;
			color: transparent;
			width: 30vw;
			top: 0;
			text-align: left;
			left: 50%;
			z-index: -1;

			&-2 {
				top: 11rem;
				@include respond(phone) {
					top: 0rem;
				}
			}
			&-3 {
				top: 25rem;
				@include respond(phone) {
					top: 13rem;
				}
			}
			&-4 {
				top: 41rem;
				@include respond(phone) {
					top: 35rem;
				}
			}
		}

		&--time-date {
			position: relative;
			top: -6.5rem;
			left: 60%;
			width: 15rem;
			color: $color-grey-light-2;

			@include respond(tab-port) {
				left: 75%;
			}
		}
	}
}
