.timeline {
	// background-color: orange;
	margin: 0 auto;
	position: relative;

	&::before {
		/* this is the vertical line */
		content: "";
		position: absolute;
		top: 3.5rem;
		left: calc(50% - 0.25rem);
		height: 45rem;
		width: 0.5rem;
		background: darken($color-grey-light-2, 5%);
		margin: 0 auto;
		z-index: -1;
	}

	&__event {
		&--picture {
			background-color: $color-white-1;
			height: 7rem;
			width: 7rem;
			border-radius: 50%;
			background-size: cover;
			border: 0.5rem solid $color-grey-light-2;
			object-fit: contain;
		}

		&--time-date {
			position: relative;
			width: 100%;
			top: -6.5rem;
			left: 10rem;
		}
	}
}
